<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index|Profile</title>
  </head>
  <body>

    <h1>Hi {{user.user_name.firstName}}</h1>

    <h3>Email: {{user.user_email}}</h3>

    {{!-- <p>{{user}}</p> --}}

    <p>{{error}}</p>

    <form action="/logout" method="post">
      <input type="submit" value="Logout" />
    </form>

  </body>
</html>